body{
  background-color: #FFF;
  margin: auto;
 

}

section 
{
  background-color:#FFF;
  margin-top: 100px;
}

.video
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  opacity: 0.1;
}

#menu-container
{
  grid-area: menu-containerTag;
}
#menu
{
  grid-area: menuTag; 
}
.headerFoto
{
  grid-area: headerFotoTag;
}

#menu-container
{
  display: grid;
  grid-template-areas: 
  "headerFotoTag"
  "menuTag";
}

#home
{
  grid-area: homeTag;
}


#homeHeader 
{
  grid-area: homeHeaderTag;
}
#homeArticle 
{
  grid-area: homeArticleTag;
}
#homeAside 
{
  grid-area: homeAsideTag;
}

#homeFooter
{
  grid-area: homeFooterTag; 
}
#home
{
  grid-area: homeTag; 
}

#home
{
  display: grid;
  grid-template-areas: 
  "homeHeaderTag homeHeaderTag"
  "homeArticleTag homeAsideTag" 
  "homeFooterTag homeFooterTag";  
}


#buurt
{
  grid-area: buurtTag; 
}

#buurtHeader
{
  grid-area: buurtHeaderTag; 
}

#buurtArticle
{
  grid-area: buurtArticleTag; 
}

#buurtFooter
{
  grid-area: buurtFooterTag; 
}


#buurt
{
  display: grid;
  grid-template-areas: 
  "buurtHeaderTag"
  "buurtArticleTag"
  "buurtFooterTag";
}



#sport
{
  grid-area: sportTag;
}

#sportArticle
{
  grid-area: sportArticleTag;
}

#sportFooter
{
  grid-area: sportFooterTag;
}

#sport
{
  display: grid;
  grid-template-areas: 
  "sportArticleTag"
  "sportFooterTag";
}








#menu ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


#menu li 
{
  float: left;
  width: 25%;
}

#menu li a 
{
  display: block;
  color: #AAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#menu li a:hover 
{
  background-color: #2699FB;
  color: #FFF;
}



#menu-container h1 ,h2
{
  text-align: center;
}


#homeAside img
{
  display: block;
  width: 220px;
}



.copyright
{
  width: 100%;
  text-align: center;
  background-color: #333;
  color: white;
  margin-top: 50px;
}



#contact input , label 
{
  display: block;
  clear: left;
}

.cookie
{
  background-color:#AAA;
  border-style: solid;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 1em;
}


/*pc*/
@media screen and (min-width : 960px)
{
  body{
    background-color: red;
     width: 960px;
  }

  .headerFotoTablet , .headerFotoMobile, .hamburger
  {
    display: none;
  }
}

/*tablet*/
@media screen and (min-width : 400px) and (max-width : 959px)
{
  body{
    background-color: yellow;
    min-width: 400px;
    max-width: 959px;

  }

  .headerFotoTablet 
  {
    margin: auto;
  }

    .headerFotoPc , .headerFotoMobile
  {
    display: none;
  }
}

/*mobile*/
@media screen and (max-width : 399px)
 {
  body{
    background-color: green;
  }

    .headerFotoTablet , .headerFotoPc
  {
    display: none;
  }
}