@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Muli|Roboto|Raleway|Noto+Serif');

body{
  background-color: #FFF;
  margin: auto;
  font-family: 'Roboto , Playfair Display, Muli' ;

}


@font-face {
  font-family: selim; 
  src: url(../fonts/dosis.ttf);
}

h6
{
  font-family: 'selim';
}

h4
{
  font-family: ' Noto Serif, Playfair Display , Raleway ' ;
  font-size: 15px
}

h5
{
  font-family: 'Roboto , Raleway, Noto Serif' ;
  font-size: 12px
}

legend
{
    font-size: 22px;
    color: #000;
    font-weight: bold;
}

h2
{
  color: #444;
}


section 
{
  background-color:#FFF;
  margin-top: 100px;
}

#menu h1
{
 font-family: 'Muli'
}
.video
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  opacity: 0.1;
}

#menu-container
{
  grid-area: menu-containerTag;
}
#menu
{
  grid-area: menuTag; 
}
.headerFoto
{
  grid-area: headerFotoTag;
}

#menu-container
{
  display: grid;
  grid-template-areas: 
  "headerFotoTag"
  "menuTag";
}

#home
{
  grid-area: homeTag;
}


#homeHeader 
{
  grid-area: homeHeaderTag;
}
#homeArticle 
{
  grid-area: homeArticleTag;
}
#homeAside 
{
  grid-area: homeAsideTag;
}

#homeFooter
{
  grid-area: homeFooterTag; 
}
#home
{
  grid-area: homeTag; 
}



#buurt
{
  grid-area: buurtTag; 
}

#buurtHeader
{
  grid-area: buurtHeaderTag; 
}

#buurtArticle
{
  grid-area: buurtArticleTag; 
}

#buurtFooter
{
  grid-area: buurtFooterTag; 
}


#buurt
{
  display: grid;
  grid-template-areas: 
  "buurtHeaderTag"
  "buurtArticleTag"
  "buurtFooterTag";
}

 #buurt header, article
  {
    padding-left: 10px;
  }

#sport
{
  grid-area: sportTag;
}

#sportHeader
{
  grid-area: sportHeaderTag;
}

#sportArticle
{
  grid-area: sportArticleTag;
}

#sportFooter
{
  grid-area: sportFooterTag;
}


#articleRoeien
{
  grid-area: articleRoeienTag;
}

#asideRoeien
{
  grid-area: asideRoeienTag;
}

#articleBreakdance
{
  grid-area: articleBreakdanceTag;
}

#asideBreakdance
{
  grid-area: asideBreakdanceTag
}

#articleBasketbal
{
  grid-area: articleBasketbalTag;
}

#asideBasketbal
{
  grid-area: asideBasketbalTag
}

#articleHandbal
{
  grid-area: articleHandbalTag;
}

#asideHandbal
{
  grid-area: asideHandbalTag
}

#articleHockey
{
  grid-area: articleHockeyTag;
}

#asideHockey
{
  grid-area: asideHockeyTag
}

#articleKarate
{
  grid-area: articleKarateTag;
}

#asideKarate
{
  grid-area: asideKarateTag
}

#articleKorfbal
{
  grid-area: articleKorfbalTag;
}

#asideKorfbal
{
  grid-area: asideKorfbalTag
}

#articleRugby
{
  grid-area: articleRugbyTag;
}

#asideRugby
{
  grid-area: asideRugbyTag
}

#articleVolleybal
{
  grid-area: articleVolleybalTag;
}

#asideVolleybal
{
  grid-area: asideVolleybalTag;
}


#articleJitsu
{
  grid-area: articleJitsuTag;
}

#asideJitsu
{
  grid-area: asideJitsuTag;
}





#sportArticle
{
  margin-bottom: 10px;
}

#sport header, article
{
   padding-left: 10px;
}

#sport article
{
  width: 75%;
}

#refferal
{
  grid-area: refferalTag;
}

#refferalHeader
{
  grid-area: refferalHeaderTag;
}

#refferalArticle
{
  grid-area: refferalArticleTag;
}

#refferalFooter
{
  grid-area: refferalFooterTag;
}
#refferalAside
{
  grid-area: refferalAsideTag;
}

#refferal
{
  display: grid;
  grid-template-areas: 
  "refferalHeaderTag    refferalHeaderTag    refferalHeaderTag"
  "refferalArticleTag   refferalArticleTag   refferalAsideTag"
  "refferalFooterTag    refferalFooterTag    refferalFooterTag"
}


#menu ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



#menu li a 
{
  display: block;
  color: #AAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#menu li a:hover 
{
  background-color: #2699FB;
  color: #FFF;
  height: auto;
}



#menu-container h1 ,h2
{
  text-align: center;
}
#home p
{
  width: 75%;
}


#homeAside img
{
  display: block;
  margin-bottom: 10px;
}



.copyright
{
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #F5F5F5;
  margin-top: 50px;
}



#contact input ,#contact label 
{
  display: block;
  clear: left;
}

#contact h1
{
  padding: 20px 0px 20px 10px;
}

#contact fieldset
{
  margin-left:10px;
}

.cookie
{
  background-color:#AAA;
  border-style: solid;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 1em;
}




/*pc*/
@media screen and (min-width : 960px)
{
  body{
     width: 960px;
  }


  #home
  {
    display: grid;
    grid-template-areas: 
    "homeHeaderTag homeHeaderTag"
    "homeArticleTag homeAsideTag" 
    "homeFooterTag homeFooterTag";  
  }

  #sport
{
  display: grid;
  grid-template-areas: 
  "sportHeaderTag             sportHeaderTag             sportHeaderTag"
  "sportArticleTag            sportArticleTag            sportArticleTag "
  "articleRoeienTag           articleRoeienTag           asideRoeienTag"
  "articleBreakdanceTag       articleBreakdanceTag       asideBreakdanceTag"
  "articleBasketbalTag        articleBasketbalTag        asideBasketbalTag"
  "articleHandbalTag          articleHandbalTag          asideHandbalTag"
  "articleHockeyTag           articleHockeyTag           asideHockeyTag"
  "articleKarateTag           articleKarateTag           asideKarateTag"
  "articleKorfbalTag          articleKorfbalTag          asideKorfbalTag"
  "articleRugbyTag            articleRugbyTag            asideRugbyTag"
  "articleVolleybalTag        articleVolleybalTag        asideVolleybalTag"
  "articleJitsuTag           articleJitsuTag           asideJitsuTag"
  "sportFooterTag             sportFooterTag             sportFooterTag ";
}


  .headerFotoTablet , .headerFotoMobile, .mobile , .tablet , #menu > label
  {
    display: none;
  }

  #home header, article
  {
    padding-left: 10px;
  }

  #menu aside
  {
    padding-right: 10px; 
  }

  #hamburger, label
  {
    display : none;
  }

  #menu li 
  {
    float: left;
    width: 25%;
  }


}

/*tablet*/
@media screen and (min-width : 400px) and (max-width : 959px)
{
  body{
    min-width: 400px;
    max-width: 959px;
  }

textarea {
 
    width: 26em;
}

  #home
  {
    display: grid;
    grid-template-areas: 
    "homeHeaderTag homeHeaderTag"
    "homeArticleTag homeAsideTag" 
    "homeFooterTag homeFooterTag";  
  }

  #sport
{
  display: grid;
  grid-template-areas: 
  "sportHeaderTag             sportHeaderTag             sportHeaderTag"
  "sportArticleTag            sportArticleTag            sportArticleTag "
  "articleRoeienTag           articleRoeienTag           asideRoeienTag"
  "articleBreakdanceTag       articleBreakdanceTag       asideBreakdanceTag"
  "articleBasketbalTag        articleBasketbalTag        asideBasketbalTag"
  "articleHandbalTag          articleHandbalTag          asideHandbalTag"
  "articleHockeyTag           articleHockeyTag           asideHockeyTag"
  "articleKarateTag           articleKarateTag           asideKarateTag"
  "articleKorfbalTag          articleKorfbalTag          asideKorfbalTag"
  "articleRugbyTag            articleRugbyTag            asideRugbyTag"
  "articleVolleybalTag        articleVolleybalTag        asideVolleybalTag"
  "articleJitsuTag           articleJitsuTag           asideJitsuTag"
  "sportFooterTag             sportFooterTag             sportFooterTag ";
}

  .headerFotoTablet 
  {
    margin: auto;
  }

    .headerFotoPc , .headerFotoMobile, .pc , .mobile, #menu > label
  {
    display: none;
  }


   #hamburger, label
  {
    display : none;
  }

  #menu li 
  {
    float: left;
    width: 25%;
  }

 
}

/*mobile*/
@media screen and (max-width : 399px)
{

  textarea 
  {

    width: 24em;
  }

    #home
  {
    display: grid;
    grid-template-areas: 
    "homeHeaderTag"
    "homeArticleTag"
    "homeAsideTag" 
    "homeFooterTag";  
  }

    #sport
  {
    display: grid;
    grid-template-areas: 
    "sportHeaderTag"
    "sportArticleTag"
    "articleRoeienTag"
    "asideRoeienTag"
    "articleBreakdanceTag"
    "asideBreakdanceTag"
    "articleBasketbalTag"
    "asideBasketbalTag"
    "articleHandbalTag"
    "asideHandbalTag"
    "articleHockeyTag"
    "asideHockeyTag"
    "articleKarateTag"
    "asideKarateTag"
    "articleKorfbalTag"
    "asideKorfbalTag"
    "articleRugbyTag"
    "asideRugbyTag"
    "articleVolleybalTag"
    "asideVolleybalTag"
    "articleJitsuTag"
    "asideJitsuTag"
    "sportFooterTag";
  }

  #sport img
  {
    padding-left: 10px;
    padding-bottom: 50px; 
  }

  .headerFotoTablet , .headerFotoPc , .pc, .tablet, #menu > ul
  {
    display: none;
  }
   #hamburger
  {
    display : none;
  }

  #menu label 
  {
    cursor : pointer;
    font-size: 40px;
  }

    #hamburger:checked + #hamburgerNav
  {
    display : block;
  }
}