body{
  background-color: #FFF;
  margin-left: 100px;
  margin-right: 100px;

}

section 
{
  background-color:#FFF;
  margin-top: 100px;
}

.video
{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
  opacity: 0.1;
}

#menu-container
{
  grid-area: menu-containerTag;
}
#menu
{
  grid-area: menuTag; 
}
.headerFoto
{
  grid-area: headerFotoTag;
}

#menu-container
{
  display: grid;
  grid-template-areas: 
  "headerFotoTag"
  "menuTag";
}


#home
{
  grid-area: homeTag;
}


#homeHeader 
{
  grid-area: homeHeaderTag;
}
#homeArticle 
{
  grid-area: homeArticleTag;
}
#homeAside 
{
  grid-area: homeAsideTag;
}

#homeFooter
{
  grid-area: homeFooterTag; 
}
#home
{
  grid-area: homeTag; 
}

#home
{
  display: grid;
  grid-template-areas: 
  "homeHeaderTag homeHeaderTag"
  "homeArticleTag homeAsideTag" 
  "homeFooterTag homeFooterTag";
  
}



#buurt
{
  grid-area: buurtTag; 
}

#buurtHeader
{
  grid-area: buurtHeaderTag; 
}

#buurtArticle
{
  grid-area: buurtArticleTag; 
}

#buurtFooter
{
  grid-area: buurtFooterTag; 
}


#buurt
{
  display: grid;
  grid-template-areas: 
  "buurtHeaderTag"
  "buurtArticleTag"
  "buurtFooterTag";
}



#sport
{
  grid-area: sportTag;
}

#sportArticle
{
  grid-area: sportArticleTag;
}

#sportFooter
{
  grid-area: sportFooterTag;
}

#sport
{
  display: grid;
  grid-template-areas: 
  "sportArticleTag"
  "sportFooterTag";
}








#menu ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


#menu li 
{
  float: left;
  width: 25%;
}

#menu li a 
{
  display: block;
  color: #AAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#menu li a:hover 
{
  background-color: #2699FB;
  color: #FFF;
}

#menu-container img
{
  width: 100%;
  height: 400px;
}

#menu-container h1 ,h2
{
  text-align: center;
}


#homeAside img
{
  display: block;
  width: 220px;
}



.copyright
{
  width: 100%;
  text-align: center;
  background-color: #333;
  color: white;
  margin-top: 50px;
}





@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

